/********************************************************
Overriding some defaults from the Bootstrap defaults to improve/fix integration with WordPress
-------------------------------------------------- */
#wpadminbar {
  display: none;
}
html {
  margin: 0;
}
.navbar .navbar-inner .nav ul {
  float: left;
  list-style: none;
  display: inline;
  height: 40px;
}
.navbar .navbar-inner .nav ul li {
  float: left;
  list-style: none;
  display: inline;
  margin: 10px;
}
#content-wrapper {
  padding: 20px;
}
